<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name ="TestWCFServiceBinding" closeTimeout="00:03:00"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:35001/TestService/service"
                binding ="basicHttpBinding" bindingConfiguration="TestWCFServiceBinding"
                contract="TestWCFService.ITestService" name="TestWCFServiceBinding">
        <identity>
          <userPrincipalName value="User1"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>